<footer class="container-fluid footer">
  <div class="row">
    <div class="col-lg-6">
      <h1>Knitting Shop</h1>
      <p>&copy; 2022, <em>Created by Marzieh !</em></p>
    </div>
    <!-- navigation -->
    <div class="col-lg-4">
      <a routerLink="">Home</a>
      <a routerLink="menu">Menu</a>
      <a routerLink="about">About</a>
      <a routerLink="contact">Contact</a>
    </div>
    <!-- social media -->
    <div class="col-lg-2">
      <a href="https://www.facebook.com/" target="_blank">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://twitter.com/" target="_blank">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://www.pinterest.com/" target="_blank">
        <i class="bi bi-pinterest"></i>
      </a>
    </div>
  </div>
</footer>
