<div class="container mt-5 mb-5">
  <h1 class="mb-5">Contact Us</h1>
  <form>
    <div class="row">
      <div class="col-lg-4 mt-2 mb-2">
        <input type="text" class="form-control" placeholder="First Name" />
      </div>
      <div class="col-lg-4 mt-2 mb-2">
        <input type="text" class="form-control" placeholder="Last Name" />
      </div>
      <div class="col-lg-8 mt-2 mb-2">
        <input type="text" class="form-control" placeholder="Email Address" />
      </div>
      <div class="col-lg-8 mt-2 mb-2">
        <input type="text" class="form-control" placeholder="Mobile Number" />
      </div>
      <div class="col-lg-8">
        <button class="btn btn-md mt-3">Submit</button>
      </div>
    </div>
  </form>
</div>
