.banner {
  background-image: url("../../../assets/images/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 100%;
  justify-content: center;
}

.content {
  background-color: #41116d50;
  padding: 20px;
  height: 600px;
}

.content h1 {
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 80px;
  letter-spacing: 10px;
  color: #fff;
  margin: 20px 0 40px 0;
}

.content a {
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  background-color: #41116d;
  border-radius: 8px;
  font-size: 20px;
  margin: 10px;
}

.content a:hover {
  background-color: #1ebfca;
}

.content span {
  color: #fff;
  padding-right: 15px;
}

.container {
  text-align: center;
}

.step-box {
  background-color: #41116d80;
  padding: 20px;
  margin: 15px;
  border-radius: 8px;
  color: #fff;
}

.step-box h1 {
  font-size: 50px;
  font-weight: bold;
}

.step-box p {
  font-size: 20px;
  font-style: italic;
}

.clothes-box {
  padding: 10px;
}

.clothes-box img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.clothes-box img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.clothes-box h1 {
  font-size: 20px;
  margin-top: 20px;
}

.viewBtn {
  background-color: #41116d99;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 15px;
}

.viewBtn i {
  margin-left: 10px;
}
