<div class="banner">
  <div class="content">
    <h1>
      Good things <br />
      take time !
    </h1>
    <a routerLink="menu">
      <span>Buy Now</span>
      <i class="bi bi-arrow-right"></i>
    </a>
  </div>
</div>

<!-- steps -->
<div class="container mt-5 mb-5">
  <h1 class="mb-3">How to get your clothes ?</h1>
  <div class="row">
    <div class="col-lg-4 mt-3">
      <div class="step-box">
        <h1>1</h1>
        <p>Select your clothes</p>
      </div>
    </div>
    <div class="col-lg-4 mt-3">
      <div class="step-box">
        <h1>2</h1>
        <p>Fill the order form</p>
      </div>
    </div>
    <div class="col-lg-4 mt-3">
      <div class="step-box">
        <h1>3</h1>
        <p>Your order deliver in a minute</p>
      </div>
    </div>
  </div>
</div>

<!-- clothesBox -->
<div class="container mt-5 mb-5">
  <h1 class="mb-3">The Most Popular Clothes</h1>
  <div class="row">
    <div class="col-lg-3 mt-3" *ngFor="let cloth of clothesData">
      <div class="clothes-box">
        <img src="{{ cloth.image }}" alt="" />
        <h1>{{ cloth.name }}</h1>
        <p>{{ cloth.price | currency }}</p>
      </div>
    </div>
  </div>
  <a routerLink="menu" class="viewBtn">
    <span>See More</span>
    <i class="bi bi-arrow-right"></i>
  </a>
</div>
