header {
  display: flex;
  margin-bottom: 35px;
  justify-content: space-between;
  align-items: center;
}

h1 {
  display: flex;
}

span {
  margin-right: 20px;
  position: relative;
  top: 7px;
}

@media screen and (max-width: 768px) {
  header {
    font-size: 12px;
  }

  span {
    margin-right: 10px;
    position: relative;
    top: 1px;
  }
}
