.squares {
  max-width: 300px;
  margin-top: 10%;
}

.row {
  display: flex;
  justify-content: center;
}

.sub-field {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}
