<div class="squares">
  <div class="row">
    <div (click)="clickSquare($event)" position="0" class="sub-field"></div>
    <div (click)="clickSquare($event)" position="1" class="sub-field"></div>
    <div (click)="clickSquare($event)" position="2" class="sub-field"></div>
  </div>
  <div class="row">
    <div (click)="clickSquare($event)" position="3" class="sub-field"></div>
    <div (click)="clickSquare($event)" position="4" class="sub-field"></div>
    <div (click)="clickSquare($event)" position="5" class="sub-field"></div>
  </div>
  <div class="row">
    <div (click)="clickSquare($event)" position="6" class="sub-field"></div>
    <div (click)="clickSquare($event)" position="7" class="sub-field"></div>
    <div (click)="clickSquare($event)" position="8" class="sub-field"></div>
  </div>
</div>
